.*.swp
**/db/
**/incremental_db/
*.asm.rpt
*.fit.rpt
*.fit.smsg
*.fit.summary
*.flow.rpt
*.jdi
*.map.rpt
*.map.smsg
*.map.summary
*.pin
*.pof
*.sof
*.sta.rpt
*.sta.summary

*.elf
*.o

sim/**/modelsim.ini
sim/**/*_lib/
sim/**/transcript
sim/**/vsim.wlf
